{{!--

<body class="hold-transition layout-top-nav"></body> --}}
<div class="wrapper">

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <h2>About</h2>
    Bienvenidos a nuestro proyecto de IoT (Internet de las cosas) para la medición en tiempo real de temperatura y humedad
     utilizando el sensor DHT11. Te ofrecemos una interfaz web interactiva donde podrás monitorear y visualizar los cambios
      ambientales clave. Nuestro proyecto de IoT utiliza el sensor DHT11 para recopilar datos precisos y confiables sobre la temperatura y humedad del entorno. 
      Explora gráficos y tablas interactivas, y recibe alertas en caso de condiciones anormales. ¡Gracias por visitarnos y disfruta del 
      monitoreo en tiempo real con el sensor DHT11 en nuestro proyecto de IoT!
  </div>

</div>
<!-- ./wrapper -->