  body {
  background: #4ef3e5;  
  background: -webkit-linear-gradient(to right, #a2a5eb, #185dc4); 
  background: linear-gradient(to right, #051d3d, rgb(90, 138, 90)); 
}  
.logo {
  width: 50%;
} 


